---
import { Square } from '@astro-tools/docs-utils/components';

interface Props {
  id: string;
}

const { id } = Astro.props;
---
<button id="trigger">Click to Hydrate!</button>
<hr/>
<Square {id} text="Hydrate me!" client:click="#trigger" />
