---
import { Square } from '@astro-tools/docs-utils/components';

interface Props {
  id: string;
}

const { id } = Astro.props;
---
<button id="click-directive-trigger">Click to Hydrate!</button>
<hr/>
<Square {id} text="Hydrate me!" client:click="#click-directive-trigger" />
